* {
  box-sizing: border-box;
}
html,
body {
  // font-family: 'RF Dewi Expanded', Arial, sans-serif;
  font-family: RFDewi, Arial, sans-serif;
  font-weight: bold;
  background-color: var(--bg);
  transition: .3s;
}
.container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
}
.cases__tab.tab--active{
  display: block;
}
.tab-filter.tab--active{
  color: var(--filter-active)!important;
  border-color: var(--filter-active)!important;
}
.cases-button.tabs-navigation__item--active{
  color: #C2C6CB;
  text-decoration: none;
}
.d-none{
  display: none;
}
.tab-body.d-flex{
  display: flex!important;
}
.name-tab.tab--active{
  opacity: 1!important;
}
.body-info.d-flex{
  display: flex!important;
}
