:root,
[data-theme="default"] {
  --opacity-logo-light: 1;
  --opacity-logo-dark: 0;
  --bg: #f5f5f5;
  --color-switch: #000000;
  --color--contrast-low: #282828;
  --color--contrast-low-2: #4d4e4f;
  --color-contrast-high: #4d4e4f;
  --color-contrast-high2: #282828;
  --color-contrast-reverse: #c2c6cb;
  --color--contrast: #282828;
  --color--contrast-bgg: #c2c6cb;
  --form-color: #c2c6cb;
  --button-color-dark: #000000;
  --button-color-light: #000000;
  --opacity-switch-dark: 0;
  --opacity-switch-light: 1;
  --opacity-arrow-dark: 0;
  --opacity-arrow-light: 1;
  --filter-active: #ff562f;
  --tab-color: #4d4e4f;
  --bg-panel: #212527;
  --color-headings: #3d3d3d;
  --color-text: #ffffff;
  --mask-color: transparent;
  --mask-transform: translateX(-100%);
  --mask-transform-mobile: translateX(0%) translateY(-100%);
  --button-color-dark: #000000;
  --button-color-light: #000000;
  --opacity-switch-dark: 0;
  --opacity-switch-light: 1;
  --bg-panel4d4e4f: #4d4e4f;
  --menu-btn: #282828;
  --list: #282828;
}

@supports (--css: variables) {
  [data-theme="dark"] {
    --opacity-logo-light: 0;
    --opacity-logo-dark: 1;
    --bg: #131313;
    --color-switch: #ffffff;
    --color--contrast-low: #d6d6d6;
    --color--contrast-low-2: #d6d6d6;
    --color-contrast-high: #c2c6cb;
    --color-contrast-high2: #c2c6cb;
    --color-contrast-reverse: #4d4e4f;
    --color--contrast: #4d4e4f;
    --color--contrast-bgg: #272727;
    --form-color: #1b1b1b;
    --button-color-dark: #ffffff;
    --button-color-light: #ffffff;
    --opacity-switch-dark: 1;
    --opacity-switch-light: 0;
    --opacity-arrow-dark: 1;
    --opacity-arrow-light: 0;
    --filter-active: #c2c6cb;
    --tab-color: #c2c6cb;
    --bg-panel: #ffffff;
    --color-headings: #ff562f;
    --color-text: #000000;
    --mask-color: #303438;
    --mask-transform: translateX(-18%);
    --mask-transform-mobile: translateX(-4%) translateY(0%);
    --button-color-dark: #ffffff;
    --button-color-light: #ffffff;
    --opacity-switch-dark: 1;
    --opacity-switch-light: 0;
    --bg-panel4d4e4f: #ffffff;
    --menu-btn: #ffffff;
    --list: #a4a6a9;
  }
}
