.header {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  .top-line {
    width: 100%;
    height: 82px;
    position: fixed;
    top: 0;
    left: 0;
    background: #131313;
    // display: none;
    z-index: 9;
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: color-burn;
    opacity: 0.7;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .container {
    padding: 30px 80px 45px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
  }
  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 229px;
  }
  &__logo {
    position: relative;
    width: 159px;
    height: 25px;
    z-index: 20;
    img {
      position: fixed;
    }
  }
  .header__logo_dark {
    opacity: var(--opacity-logo-dark);
  }
  .header__logo_light {
    opacity: var(--opacity-logo-light);
  }
  .mobile-btn-wrapper {
    padding: 12px 20px;
    background: var(--line-bg);
    position: fixed;
    right: 10px;
    top: 0;
    border-radius: 0px 0px 0px 5px;
    display: none;
    z-index: 10;
  }
  .nav-mobile-btn {
    width: 37px;
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 6px;
    display: none;
    span {
      width: 24px;
      height: 3px;
      background: var(--menu-btn);
      transition: 0.3s;
    }
    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translateX(6px) translateY(5px);
          transition: 0.3s;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translateX(5px) translateY(-4px);
          transition: 0.3s;
        }
      }
      // ~ .header__nav {
      //   display: block;
      //   border: 1px solid #ffffff;
      // }
    }
  }
  .nav {
    position: fixed;
    background: var(--line-bg);
    right: 0;
    top: -30px;
    max-width: 375px;
    width: 100%;
    height: 100vh;
    padding-top: 125px;
    padding-left: 20px;
    transform: translateY(-100vh);
    transition: 0.3s;
    transition-delay: 0.3s;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.active {
      transform: translateY(0);
      transition: 0.3s;
    }
    &__list {
      &:first-child {
        margin-right: 48px;
      }
    }
    &__lists {
      transition: 0.3s;
      opacity: 0;
      display: flex;
      &.active {
        transition-delay: 0.3s;
        opacity: 1;
      }
    }
    &__item {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 24px;
    }
    &__bottom {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 335px;
        height: 1px;
        background: #4d4e4f;
        bottom: 103px;
      }
    }
    &__contacts {
      position: absolute;
      bottom: 40px;
      &-row{
        display: flex;
        gap: 24px;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      .nav__contact {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: var(--color--contrast-low);
      }
    }
    &__logo {
      position: absolute;
      width: 102px;
      height: 16px;
      bottom: 132px;
    }
    &__link {
      text-align: right;
      font-family: RFDewi, Arial, sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: var(--color--contrast-low);
    }
  }
  &__links {
    position: fixed;
    right: 80px;
    top: 45px;
    z-index: 10;
    .link-phone {
      font-family: RFDewi, Arial, sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: var(--color--contrast-low);
      margin-right: 30px;
    }
  }
  .request-btn {
    padding: 10px 40px;
    border: 1px solid #4d4e4f;
    color: var(--color--contrast-low);
    background-color: var(--bg);
    border-radius: 123px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .switch-theme-btn {
    position: absolute;
  }
  &__title {
    font-weight: 800;
    font-size: 74px;
    line-height: 89px;
    color: #D6D6D6;
    font-family: RFDewi, Arial, sans-serif;
    margin-bottom: 50px;
  }
  &__to-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-contrast-high);
    padding-top: 40px;
    position: relative;
  }
  .to-bottom {
    &_left {
      // position: absolute;
      // left: 80px;
      // top: 45px;
      display: inline-block;
      position: relative;
      width: 136px;
      height: 39px;
      z-index: 2;
      &:hover {
        .arrows-dark {
          opacity: 0;
        }
        .arrows-light {
          opacity: 1;
        }
      }
      .arrows-dark {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        gap: 21px;
        opacity: var(--opacity-arrow-dark);
        transition: 0.3s;
      }
      .arrows-light {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        gap: 21px;
        opacity: var(--opacity-arrow-light);
        transition: 0.3s;
      }
    }
    &_right {
      // position: absolute;
      // right: 80px;
      // top: 45px;
      width: 31px;
      height: 39px;
      z-index: 2;
      &:hover {
        .arrow-dark {
          opacity: 0;
        }
        .arrow-light {
          opacity: 1;
        }
      }
      .arrows-wrapper {
        position: relative;
      }
      .arrow-dark {
        position: absolute;
        left: 0;
        top: 0;
        opacity: var(--opacity-arrow-dark);
        transition: 0.3s;
      }
      .arrow-light {
        position: absolute;
        left: 0;
        top: 0;
        opacity: var(--opacity-arrow-light);
        transition: 0.3s;
      }
    }
  }
  &__services {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &-row{
      display: flex;
    }
  }
  &__service {
    padding: 14px 46px;
    border: 1px solid #4d4e4f;
    color: #4d4e4f;
    border-radius: 123px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 17px;
    &:last-child {
      margin-right: 0;
    }
  }
}
@media (max-width: 1576px) {
  .header__service {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 1350px) {
  .switch.media {
    top: 15px;
    right: 93px;
  }
}
@media (max-width: 375px) {
  .switch.media {
    right: 75px;
  }
}
.header.media {
  @media (max-width: 1350px) {
    .container {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
    }
    .top-line {
      display: flex;
      height: 62px;
      background: #000;
    }
    .header__logo {
      width: 120px;
      height: 19px;
      top: -10px;
      left: -10px;
    }
    .header__links {
      top: auto;
      bottom: 40px;
      right: 50%;
      transform: translateX(50%);
    }
    .mobile-btn-wrapper {
      display: flex;
    }
    .nav-mobile-btn {
      display: flex;
    }
  }
  @media (max-width: 1270px) {
    .to-bottom_left,
    .to-bottom_right {
      display: none;
    }
  }
  @media (max-width: 1175px) {
    .header__top {
      margin-bottom: 90px;
    }
    .header__title {
      font-size: 32px;
      line-height: 38px;
    }
  }
  @media (max-width: 980px) {
    .header__services {
      flex-direction: column;
      align-items: center;
      &-row{
        flex-direction: column;
        width: 100%;
        align-items: center;
        &:nth-child(2){
          .header__service:first-child{
            max-width: 133px;
            width: 100%;
          }
        }
      }
    }
    .header__service {
      &:first-child {
        max-width: 526px;
        width: 100%;
        margin-bottom: 17px;
      }
      &:nth-child(2) {
        // max-width: 250px;
        // width: 100%;
        margin-bottom: 17px;
      }
      &:last-child {
        // margin-right: 0;
        // max-width: 106px;
        // width: 100%;
      }
    }
  }
  @media (max-width: 768px) {
    height: auto;
    .container {
      height: auto;
    }
    .header__logo {
      width: 120px;
      height: 19px;
    }
    .header__top {
      margin-bottom: 90px;
    }
    .header__title {
      margin-bottom: 90px;
    }
    .header__services {
      position: static;
      margin-bottom: 155px;
    }
    .header__service {
      margin-right: 0;
    }
    .header__to-bottom {
      border: none;
      padding-top: 0;
    }
    .header__links {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      position: static;
      transform: translateX(0);
      .link-phone {
        margin-right: 0;
      }
      .request-btn {
        margin-bottom: 11px;
      }
    }
  }
  @media (max-width: 630px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
    .header__logo{
      left: 0;
    }
  }
}
