.header {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: color-burn;
    opacity: 0.7;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .container {
    padding: 60px 80px 45px;
    margin: 0 auto;
    position: relative;
  }
  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 109px;
  }
  &__logo {
    position: relative;
    width: 159px;
    height: 25px;
    img {
      position: absolute;
    }
  }
  .header__logo_dark {
    opacity: var(--opacity-logo-dark);
  }
  .header__logo_light {
    opacity: var(--opacity-logo-light);
  }
  .nav-mobile-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 37px;
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 6px;
    display: none;
    span {
      width: 24px;
      height: 3px;
      background: var(--menu-btn);
      transition: 0.3s;
    }
    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translateX(6px) translateY(5px);
          transition: 0.3s;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translateX(5px) translateY(-4px);
          transition: 0.3s;
        }
      }
      ~ .header__nav {
        display: block;
      }
    }
  }
  .nav {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 375px;
    &__item {
      margin-bottom: 7px;
    }
    &__link {
      text-align: right;
      font-family: RFDewi, Arial, sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: var(--color--contrast-low);
    }
  }
  &__links {
    .link-phone {
      font-family: RFDewi, Arial, sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: var(--color--contrast-low);
      margin-right: 30px;
    }
  }
  .request-btn {
    padding: 10px 40px;
    border: 1px solid #4d4e4f;
    color: var(--color--contrast-low);
    border-radius: 123px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .switch-theme-btn {
    position: absolute;
  }
  &__title {
    font-weight: 800;
    font-size: 74px;
    line-height: 89px;
    color: var(--color--contrast-low);
    font-family: RFDewi, Arial, sans-serif;
    margin-bottom: 50px;
  }
  &__to-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-contrast-high);
    padding-top: 40px;
    position: relative;
  }
  .to-bottom {
    &_left {
      // position: absolute;
      // left: 80px;
      // top: 45px;
      display: inline-block;
      position: relative;
      width: 136px;
      height: 39px;
      z-index: 2;
      &:hover {
        .arrows-dark {
          opacity: 0;
        }
        .arrows-light {
          opacity: 1;
        }
      }
      .arrows-dark {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        gap: 21px;
        opacity: var(--opacity-arrow-dark);
        transition: 0.3s;
      }
      .arrows-light {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        gap: 21px;
        opacity: var(--opacity-arrow-light);
        transition: 0.3s;
      }
    }
    &_right {
      // position: absolute;
      // right: 80px;
      // top: 45px;
      width: 31px;
      height: 39px;
      z-index: 2;
      &:hover {
        .arrow-dark {
          opacity: 0;
        }
        .arrow-light {
          opacity: 1;
        }
      }
      .arrows-wrapper {
        position: relative;
      }
      .arrow-dark {
        position: absolute;
        left: 0;
        top: 0;
        opacity: var(--opacity-arrow-dark);
        transition: 0.3s;
      }
      .arrow-light {
        position: absolute;
        left: 0;
        top: 0;
        opacity: var(--opacity-arrow-light);
        transition: 0.3s;
      }
    }
  }
  &__services {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__service {
    padding: 14px 46px;
    border: 1px solid #4d4e4f;
    color: #4d4e4f;
    border-radius: 123px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 17px;
    &:last-child {
      margin-right: 0;
    }
  }
}
@media (max-width: 1576px) {
  .header__service {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 1350px) {
  .switch.media {
    top: 30px;
    right: 93px;
  }
}
@media (max-width: 375px) {
  .switch.media {
    right: 75px;
  }
}
.header.media {
  @media (max-width: 1350px) {
    .container {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
    }
    .header__top {
      margin-bottom: 200px;
    }
    .nav-mobile-btn {
      display: flex;
    }
    .header__nav {
      display: none;
      position: absolute;
      right: 0;
      top: 35px;
    }
  }
  @media (max-width: 1175px) {
    .header__top {
      margin-bottom: 180px;
    }
    .header__title {
      font-size: 32px;
      line-height: 38px;
    }
  }
  @media (max-width: 630px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
