.industry {
  padding-top: 250px;
  padding-bottom: 240px;
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  &__inner {
    border-top: 1px solid #4d4e4f;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    padding-top: 37px;
    max-width: 343px;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    color: #a4a6a9;
  }
  &__lists {
    display: flex;
    justify-content: space-between;
    max-width: 1165px;
    width: 100%;
  }
  &__list {
    width: 100%;
    .industry__list-item {
      display: flex;
      justify-content: space-between;
      padding-top: 37px;
      padding-bottom: 28px;
      border-bottom: 1px solid #4d4e4f;
      cursor: pointer;
      &:hover {
        .list-item__text {
          transform: translateX(85px);
          color: #d6d6d6;
        }
        .list-item__number::before {
          opacity: 1;
        }
        .list-item__count {
          color: #c2c6cb;
        }
      }
    }
    .text-left {
      display: flex;
    }
    .list-item__number {
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
      margin-right: 31px;
      width: 49px;
      text-align: center;
      color: #4d4e4f;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 63px;
        height: 22px;
        right: calc(-100% + -34px);
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/portfolio/arrow-list.svg);
        transition: 0.3s;
        opacity: 0;
      }
    }
    .list-item__count {
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
      color: #4d4e4f;
      transition: 0.3s;
    }
    .list-item__text {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      color: #a4a6a9;
      position: relative;
      transition: 0.3s;
    }
  }
}
.industry.media {
  @media (max-width: 1750px) {
    .industry__lists {
      max-width: 800px;
    }
  }
  @media (max-width: 1350px) {
    padding-top: 150px;
    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media (max-width: 1235px) {
    .industry__title {
      font-size: 18px;
      line-height: 150%;
      max-width: 221px;
      margin-right: 87px;
      padding-top: 30px;
    }
    .industry__list-left {
      padding-top: 7px;
    }
    .industry__list-item {
      padding: 23px 0;
      &:hover{
        .list-item__text{
          transform: translateX(35px);
        }
      }
    }
    .list-item__number {
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      width: 35px;
      &::before{
        width: 50px;
        height: 20px;
        right: -160%;
        top: 50%;
        transform: translateY(-50%);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .list-item__text {
      font-size: 22px;
      line-height: 26px;
    }
    .list-item__count {
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
    }
  }
  @media (max-width: 930px) {
    padding-top: 108px;
    padding-bottom: 110px;
    .industry__inner{
      display: flex;
      justify-content: space-between;
    }
    .industry__title {
      font-size: 16px;
      line-height: 150%;
      margin-right: 0;
      padding-top: 20px;
    }
    .industry__lists{
      max-width: 450px;
    }
    .industry__list-left {
      padding-top: 3px;
    }
    .industry__list-item {
      padding: 23px 0 27px;
    }
    .list-item__number {
      font-size: 18px;
      line-height: 22px;
      width: 29px;
      margin-right: 13px;
      &::before{
        width: 35px;
        height: 12px;
        right: -150%;
      }
    }
    .list-item__text {
      font-size: 18px;
      line-height: 22px;
    }
    .list-item__count {
      font-size: 18px;
      line-height: 22px;
    }
  }
  @media (max-width: 768px){
    .container{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (max-width: 727px){
    .industry__inner{
      flex-direction: column;
    }
    .industry__lists{
      max-width: 100%;
    }
  }
  @media (max-width: 550px){
    padding-top: 90px;
    padding-bottom: 98px;
    .industry__title {
      font-size: 14px;
      line-height: 21px;
      padding-top: 15px;
    }
    .industry__list-left {
      padding-top: 36px;
    }
    .industry__list-item {
      padding: 14px 0;
      &:hover{
        .list-item__text{
          transform: translateX(25px);
        }
      }
    }
    .list-item__number {
      font-size: 14px;
      line-height: 17px;
      width: 22px;
      &::before{
        width: 25px;
        height: 10px;
        right: -150%;
      }
    }
    .list-item__text {
      font-size: 14px;
      line-height: 17px;
    }
    .list-item__count {
      font-size: 14px;
      line-height: 17px;
    }
  }
}
