.footer {
  padding-top: 300px;
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    max-width: 500px;
    width: 100%;
    color: #4d4e4f;
    margin-bottom: 40px;
  }
  &__link {
    color: var(--color--contrast-low);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    &_whatsapp{
      position: fixed;
      bottom: 47px;
      right: 80px;
    }
    &_mail{
      position: fixed;
      bottom: 47px;
      left: 80px;
    }
    &_telegram{
      position: fixed;
      bottom: 47px;
      right: 234px;
    }
  }
  &__form {
    width: 680px;
    border-radius: 24px;
    padding-left: 32px;
    padding-right: 32px;
    background: var(--form-color);
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
    }
  }
  .form {
    &__inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 63px;
    }
    &__input {
      width: 100%;
      border-bottom: 1px solid #4d4e4f;
      padding-bottom: 20px;
      padding-top: 60px;
      outline: none;
      color: var(--color--contrast-low);
      &:first-child {
        padding-top: 47px;
      }
    }
    &__buttons {
      margin-bottom: 113px;
      height: auto;
      .add-file-label {
        color: #4d4e4f;
        border: 1px solid #4d4e4f;
        border-radius: 123px;
        padding: 10px 16px;
        margin-right: 21px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: var(--color--contrast-low);
          border-color: var(--color--contrast-low);
        }
      }
      #add-file {
        display: none;
      }
      .download {
        color: #4d4e4f;
        border: 1px solid #4d4e4f;
        border-radius: 123px;
        padding: 10px 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          color: var(--color--contrast-low);
          border-color: var(--color--contrast-low);
        }
      }
    }
    &__bottom {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      .send-btn {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-right: 25px;
        background-color: var(--color-contrast-high2);
        color: var(--color--contrast-bgg);
        padding: 14px 46px;
        border-radius: 123px;
        cursor: pointer;
      }
      .agreement {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        max-width: 321px;
        color: #4d4e4f;
        &-link {
          color: var(--color-contrast-high);
        }
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    &-item {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      a {
        color: var(--color--contrast-low);
      }
    }
  }
}
.footer.media {
  @media (max-width: 1540px) {
    .footer__links {
      flex-direction: column-reverse;
    }
    .footer__links-row {
      display: flex;
      justify-content: space-between;
      &:first-child {
        flex-direction: row-reverse;
      }
    }
    .footer__link {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-right: 0;
      margin-bottom: 8px;
    }
  }
  @media (max-width: 1350px) {
    .container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media (max-width: 900px) {
    .footer__title {
      font-size: 14px;
      line-height: 150%;
      max-width: 386px;
    }
    .footer__nav {
      flex-direction: column;
      &-item {
        margin-bottom: 7px;
      }
    }
    .footer__form {
      width: 600px;
    }
  }
  @media (max-width: 768px) {
    padding-top: 150px;
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (max-width: 750px) {
    .footer__title {
      display: none;
    }
    .footer__links {
      padding-top: 15px;
      align-items: start;
    }
    .footer__link {
      margin-right: 24px;
    }
    .footer__form-wrapper {
      padding-top: 50px;
      margin-bottom: 90px;
    }
    .footer__bottom {
      padding-bottom: 40px;
    }
  }
  @media (max-width: 550px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .footer__inner {
      padding-left: 20px;
    }
    .footer__form {
      max-width: 100%;
      border-radius: 0px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 13px;
    }
    .footer__bottom {
      padding-left: 20px;
      padding-right: 20px;
    }
    .form__inputs {
      margin-bottom: 45px;
    }
    .form__input {
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 16px;
      padding-top: 34px;
    }
    .form__bottom {
      flex-direction: column;
      align-items: start;
    }
    .form__buttons{
      display: flex;
      flex-direction: column;
      margin-bottom: 45px;
    }
    .add-file-label{
      width: 204px;
      margin-bottom: 13px;
    }
    .download{
      width: 170px;
    }
    .send-btn {
      margin-bottom: 15px;
    }
    .agreement {
      font-size: 14px;
      line-height: 20px;
    }
  }
  @media (max-width: 375px){
    .footer__logo{
      display: none;
    }
  }
}
